##############################################################
#
# List of approvers/reviewers for AL Extension
#
##############################################################

# Global rule:
* @ssormij88 @jrventura@semirarampc.com

/.github/CODEOWNERS @ssormij88
